
#git-logo1 {
	border:0;
	position: absolute;
	float: right;
	margin-right: 0;
	margin-left: 700px;
	margin-bottom: 600px;
	margin-top: -250px;
	box-shadow: none;
}


#sacomplogo {
	height: auto;
	width: auto;
	max-width: 440px;
	max-height: 80px;
	border: 0;
	position: absolute;
	margin-bottom: 0px;
	margin-left: -220px;
	box-shadow: none;
}


#github-logo {
	max-height: 130px;
	position: absolute;
	box-shadow: none;
	height: auto;
	width: auto;
	float: left;
	margin-top: 55px;
	margin-bottom: 0px;
	margin-left: -510px;
}

#bitbucket-logo {
	max-height: 130px;
	position: absolute;
	box-shadow: none;
	height: auto;
	width: auto;
	float: center;
	margin-top: 55px;
	margin-bottom: 0px;
	margin-left: -165px;
}

#gitlab-logo {
	max-height: 130px;	
	position: absolute;
	box-shadow: none;
	height: auto;
	width: auto;
	float: left;
	margin-top: 55px;
	margin-bottom: 0px;
	margin-left: 250px;
}

#repo-states {
	box-shadow: none;
	border: 0px;
}

#file-lifecycle {
	box-shadow: none;
	border: 0px;
}

#hash1 {
	color: #FF6600;
}